/* Layout main panel compnents*/
#viewport{
    position: fixed;
    left:0;
    right:0;
    width: 100vw;
    height: 100vh;
}

#leftSidebar{
    position: fixed;
    left: 0;
    top:0;
}

#rightSidebar{
    position: fixed;
    right: 0;
    top:0;
}

#bottombar{
    position: fixed;
    width: content-fit;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

/*RESET*/
body{
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
}

/* UI Color style*/
body{
    background-color: black;
    color: white;
}

.panel
{
    background-color: hsla(0, 0%, 50%, 0.4);
}

/* SVG Color style*/
.shape{
    opacity: 0.3;
    stroke: white;
    stroke-width: 0.2;
}

.gizmo{
    fill: hsla(0, 0%, 50%, 0.4);
}

.selected{
    stroke: white;
    stroke-width: 3;
}

/* UI widgets*/
button{
    border: none;
    border-radius: 100px;
    margin: 2px;
}

button.active{
    background-color: cyan;
}


/* panel layout */
.panel{
    padding: 1em;
}

.panel section{
    margin-top: 1rem;
}

hr.vertical{
    display: inline-block;
    border: none;
    margin: 2px;
    height: 1rem;
    width: 1px;
    background-color: white;
    padding: 0;
}

/* Attribute editor */
section.group>label:not(:has(input)){
    text-align: right;
    margin-right: 1rem;
}

/* additional core ui stuff*/
.list-group-item-action{
    cursor: pointer;
}

/* attributes table */
table.attributesTable{
    border-collapse: separate;
    border-spacing: 0.5rem 0;
    width: 100%;
}

table.attributesTable>tr>label,
table.attributesTable>tr>input{
    display: table-cell;
    width: auto;
}
table.attributesTable>tr>label:first-child{
    text-align: right;
    width: 0%;
    white-space: nowrap;
}