/*RESET*/
*,
*:before,
*:after {
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
}

body{
    user-select: none;
}

/* Layout main compnents*/
#viewport{
    position: fixed;
    left:0;
    right:0;
    width: 100vw;
    height: 100vh;
}

#leftSidebar{
    position: fixed;
    left: 0;
    top:0;
}

#rightSidebar{
    position: fixed;
    right: 0;
    top:0;
    width: 24rem;
}

#topbar{
    position: fixed;
    width: max-content;
    max-width: 100%;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    /* width: 14rem; */
}

#bottombar{
    position: fixed;
    width: max-content;
    max-width: 100%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}