/* SHAPES */

body .presenter,
bosy .gizmo{
    transition: opacity 0s linear;
    opacity: 1.0;
}
body.mouse-idle .presenter,
body.mouse-idle .gizmo{
    opacity: 0 !important;;
    transition: opacity 0.9s linear !important;
}

g.shape .presenter{
    pointer-events: none;
    stroke-width: 1;
    /* stroke-dasharray: 0 8 0 8; */
    stroke-linecap: round;
    opacity: 0.15;
    vector-effect: non-scaling-stroke;

    stroke: white;
    fill: transparent;
}

g.shape text.presenter{
    stroke: none;
    fill: white;
}

g.shape.selected .presenter,
g.shape:hover .presenter{
    opacity: 1.0;
    stroke-dasharray: 0 8 0;
}

/* LIGHTS */
g.light .presenter{ /* root light group*/
    pointer-events: none;
    stroke-linecap: round;
    vector-effect: non-scaling-stroke;
    stroke: white;
    fill: transparent;
    stroke-width: 1;
    /* opacity: 0.5; */
}
.light.selected .presenter,
.light:hover .presenter{
    opacity: 1.0;
    stroke-width: 3;
}

/* MANIPULATORS */
.manipulator .gizmo{
    fill: rgba(255, 255, 255, 1);
    stroke: transparent;
    stroke-width: 10;
    vector-effect: non-scaling-stroke;
}

.manipulator.hidden .gizmo{
    fill: transparent;
}
.manipulator.show-when-selected .gizmo{
    display: none;
}

.selected .manipulator.show-when-selected .gizmo{
    display: block;
}

.manipulator .guide{
    stroke-width: 1px;
    stroke-dasharray: 0 16 0;
    opacity: 0.3;
    vector-effect: non-scaling-stroke;
}

/* RAYTRACE */





