/* SHAPES */
g.shape{ /* root shape group*/
    stroke-width: 1;
    /* stroke-dasharray: 0 8 0 8; */
    stroke-linecap: round;
    opacity: 0.15;
    vector-effect: non-scaling-stroke;

    stroke: white;
    fill: transparent;
}

g.shape{
    stroke-dasharray: 0;
}

g.shape.selected{
    opacity: 1.0;
    stroke-dasharray: 0 8 0;
    vector-effect: non-scaling-stroke;
    fill: transparent;
}

/* LIGHTS */
g.light{ /* root light group*/
    /* stroke-width: 3; */
    /* stroke-dasharray: 0 8 0 8; */
    /* stroke-linecap: round; */
    /* opacity: 0.3; */
    vector-effect: non-scaling-stroke;

    /* stroke: orangered; */
    /* fill: transparent; */
}
.light.selected{
    opacity: 1.0;
    stroke-dasharray: 0 8 0;
}

/* MANIPULATORS */
.manipulator{
    fill: white;
    stroke-dasharray: 0;
}
.manipulator:hover{
    stroke: white;
    stroke-width: 5;
}
.manipulator .guide{
    stroke-width: 1px;
    stroke-dasharray: 0 16 0;
    opacity: 0.3;
    vector-effect: non-scaling-stroke;
}

/* RAYTRACE */





